# Untracked files in MPLABX projects
# https://microchipdeveloper.com/faq:72 

/**/build
/**/debug
/**/dist
/**/nbproject/*
!/**/nbproject/*.xml

# Untracked proteus files
#*.pdsprj
*.pdsbak
*.workspace